<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Weather App</title>
</head>

<body>
    <nav class="navbar ">
        <div class="container-fluid">
            <a class="navbar-brand">Weather App</a>
            <form class="d-flex">

            </form>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col search">
                <div class="formbox">
                    <form action="{{url_for('index_post')}}" method="POST">
                        <div class="mb-3">
                            <label for="cityinput" class="form-label">Search City</label>
                            <input type="text" class="form-control" name="cityname" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
                            {% set message_class = 'danger' %}

                            {% if category == 'success' %}
                            {% set message_class = 'is-success' %}
                            {% endif %}
                            <div class="alert alert-{{message_class}}" role="alert">
                                {{ message }}
                            </div>

                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <br>
        <div class="weatherdata">
            <div class="row">
                {% for city in weater_data%}
                <div class="col-lg-4 col-sm-6">
                    <div class="card mb-3" style="max-width: 300px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="http://openweathermap.org/img/w/{{ city.icon }}.png" class="card-img-top"
                                    alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{city.name}}</h5>
                                    <h6 class="card-text">{{city.weather}}</h6>
                                    <p class="card-text">{{city.discription}}</p>
                                    <a href="{{url_for('delete', city_id=city.id)}}" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <div id="footer" class="font-style-san">
        &copy; Copyright 2010 by <a href="https://github.com/gabbar23/Weather-App-Flask">Aman Saini</a>.
    </div>
</body>

</html>